<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="TESTING_STYLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>[%-5level] %d [%thread] %logger{0} - %msg%n%rEx{short}</pattern>
			<immediateFlush>true</immediateFlush>
		</encoder>
	</appender>

	<root level="ERROR">
		<appender-ref ref="TESTING_STYLE" />
	</root>

    <logger name="com.anrisoftware" level="INFO" />
    <logger name="com.anrisoftware.globalpom.exec" level="DEBUG" />
    <logger name="com.anrisoftware.sscontrol" level="INFO" />
    <logger name="com.anrisoftware.sscontrol.groovy.script.external" level="DEBUG" />

</configuration>
